{% extends 'base.html' %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform: none, box-shadow: none, border: none">
            <p><a style="color:red" href="{% url 'delete' article.pk %}">Удалить</a></p>
            <p><a style="color:blue" href="{% url 'update' article.pk %}">Редактировать</a></p>
            <p>{{ article.title }}</p>
            <p>Автор: {{article.author.last_name }} {{ article.author.first_name }}</p>
            {% if is_estimated %}
                <form method="post" action="{% url 'rating' article.author.pk article.pk %}">
                    {% csrf_token %}
                    <input type="number" name="rating" min="1" max="5" step="1">
                    <input type="submit" value="Оценить">
                </form>
            {% endif %}
            <p>{{ article.image }}</p>
            <p>{{ article.content }}</p>
        </div>

        <p style="font-weight: bold; margin-left: 5.5%">
            Комментарии
            <span style="font-weight: initial; font-size: .85em">{{ sorted_comments.count }}</span>
            <a style="font-size: .8em" href="{% url 'comment' article.pk %}">Написать комментарий</a>
        </p>

        <div class="reviews_container">
            {% for comment in sorted_comments %}
                <div class="review">
                    <p>{{ comment.content }}</p>
                    <p>Автор: {{ comment.author.last_name}} {{ comment.author.first_name }}</p>
                    <p>Создан {{ comment.date_sent }}</p>
                </div>
                {% for reply in comment.comment_set.all %}
                    <div class="review">
                        <p>{{ reply.content }}</p>
                        <p>Автор: {{ reply.author.last_name }} {{ reply.author.first_name }}</p>
                        <p>Создан: {{ reply.date_sent }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}