{% extends 'base.html' %}
{% block content %}
    <div class="course_container">
        <div class="course_preview" style="transform: none, box-shadow: none, border: none">
            <p><a style="color:red" href="{% url 'delete' article.pk %}">Удалить</a></p>
            <p><a style="color:blue" href="{% url 'update' article.pk %}">Редактировать</a></p>
            <p>{{ article.title }}</p>
            <p>Автор: {{article.author.last_name }} {{ article.author.first_name }}</p>
            {% if estimate %}
                <form method="post" action="{% url 'rating' article.author.pk article.pk %}">
                    {% csrf_token %}
                    <input type="number" name="rating" min="1" max="5" step="1">
                    <input type="submit" value="Оценить">
                </form>
            {% endif %}
            <p>{{ article.image }}</p>
            <p>{{ article.content }}</p>
        </div>

        <p style="font-weight: bold; margin-left: 5.5%">
            Комментарии
            <span style="font-weight: initial; font-size: .85em">{{ sorted_comments.count }}</span>
            <a style="font-size: .8em" href="{% url 'comment' article.pk %}">Написать комментарий</a>
        </p>

        <div class="reviews_container">
            {% for comments in sorted_comments %}
            <div class="review">
                <p>{{ comments.0.author.last_name }} {{ comments.0.author.first_name }} {{ comments.0.date_sent }} </p>
                {% if comments.1 == None %}
                    <p><a style="color:red; font-size: .7em" href="{% url 'answer_comment' article.pk comments.0.pk %}">ответить</a></p>
                {% else %}
                    <p>{{ comments.1.author.last_name }} {{ comments.1.author.first_name }} {{ comments.1.date_sent }} </p>
                    <p>{{ comments.1.content }}</p>
                {% endif %}
            </div>
            {% empty %}
            <p><a href="{% url 'comment' article.pk %}">Оставьте комментарий.</a> Комментариев пока нет </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}